*{
    margin: 0;
    padding: 0;
}
    
body {
    min-height:100vh;
    background-image:url("20230926_125950.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    padding-top:2%;
}
.container{

text-align: left;
background: #00000085;
width:400px;
margin: auto;
padding: 5%;
padding-bottom:12%;
align-items:center;
justify-content: center;
text-align: center;
border-radius: 15px;
box-shadow:3px 3px 3px black ;
}
h1{
    margin-top:1%;
    color: #ffffff;
    font-size:1.3rem;}
    p{
       text-align: left ;
       color: #ffffff;
       font-size:1.6rem;
    }
    input{
        width: 50%;
        margin-left:25%;
        margin-bottom:4px;
        text-align: center ;
        
    }
    hr{
        border-color: #0081ffa2;
        width: 35%;
        margin: auto;
        
        
    }
    .caixa{
       
        margin-top:15%;
        margin-bottom:5%;
        
    }
    button{
        width: 40%;
        box-shadow:3px 2px 3px #eaffff6d;
        background: #00214283;
        border-color:#eaffff54;
        color:#ffffff ;
        font-size:19px;
        
    }
    button:hover{
        color: #383838dc;
        background-color:#ffffff8d;
        cursor:pointer;
    }
    img{
        width: 50%;
        
        
    }
    
    .linha{
        margin: 0;
    }
    .subcx{
        margin: auto;
    }
    
}

    
