
     *{
         
     }
        body {
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #0000003a;
            background-image:url("20230926_125950.jpg");
            background-size:cover;
            margin: 0;
            padding: 0;
        }

        /* Cabeçalho */
        header {
            background-color: green;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        /* Conteúdo principal */
        .container {
            padding: 20px;
        }

        /* Formulário */
        form {
            background-color: #0000008d;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom:4px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select, input {
            width: 98%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #0000008b;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Rodapé */
        footer {
            background-color: green;
            color: white;
            text-align: center;
            padding: 10px;
         }
         
