*{
    margin: 0;
    padding: 0;
    }
    
body {width: 400px;
    background-image:url("ft/tmobile.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.container{
    display:grid;
    width: 94vw;
    background-color:#0000005c;
    margin-left:2vw;
    margin-right:2vw;
    border-radius: 15px;
}
h1{
    text-align: center ;
    margin: auto;
    margin-top:5%;
    color: white;
    text-shadow:2px 2px black 
}  
label {
    color: white;
    font-size:24px;
    margin-left:10vw;
    padding: 1px;
    text-shadow:2px 1px black ;
    background-color:#00000032;
} 
select {
    width: 80vw;
    font-size:15px;
    height: 35px;
    margin-left: 10vw;
    margin-right:10vw;
}
input{
    width: 80vw;
    font-size:16px;
    height: 35px;
    margin-left: 10vw;
    margin-right:10vw;
 
}
  button{
      width: 70vw;
      margin-left:15vw;
      margin-right:15vw;
      margin-top:4vh;
      margin-bottom:5vh;
      height: 30px;
      border-radius: 20px;
  }
  iframe{
  margin-left:1vw;
  margin-right:w;
      
  }
  .caixas{
      width: 400;
}
    
